html, body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  background-color: white;
  overflow-x: hidden;
}
p {
  margin: 0;
  color: #34383A;
}
a {
  text-decoration: none;
  color: #34383A;
}
a:hover {
  outline: none;
  opacity: 0.7;
}

svg {
  padding-right: 8px;
  font-size: 20px !important;
}

#commercial.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.horiz-line {
  height: 1px;
  background: linear-gradient(to right, #F4F4F4, #34383A , #F4F4F4);
}

#navbar {
  width: 100%;
  height: 85px;
  position: fixed;
  background-color: white;
  top: 0px;
}
.navbar-scrolled {
  -moz-box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.35);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.35);
  box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.35);
}
.content {
  width: calc(90% - 90px);
  max-width: 1200px;
  margin: auto;
  padding: 0 45px 100px 45px;
  background-color: #F4F4F4;
}

.navbar-branding {
  float: left;
  line-height: 85px;
}
.branding,
.branding-ac {
  padding: 0 30px;
}

.navbar-options {
  float: right;
  line-height: 85px;
}
.navbar-option {
  float: right;
  display: inline-block;
}
.contact-option {
  border: 2px solid #722323;
  border-radius: 4px;
  line-height: 22px;
  padding: 9px 11px;
  margin-top: 20px;
}

.intro {
  padding: 160px 0 80px 0;
}

.specialties {
  margin: 30px 0 50px 0;
  display: block;
}
.specialty {
  width: 50%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.specialty div {
  padding: 0px 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.specialty-description {
  text-align: center;
  margin-bottom: 30px;
  flex-grow: 1;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.learn-more {
  padding: 8px !important;
  border-radius: 4px;
  border: 1px solid grey;
  display: inline-block;
  background-color: #F4F4F4;
}

.biography {
  margin: 120px 0 50px 0;
}

.photo-column {
  display: inline-block;
  text-align: center;
}
.profile-picture {
  width: 300px;
}

.description-column {
  display: inline-block;
  width: calc(100% - 300px);
  vertical-align: top;
}
.profile-description {
  padding: 0 0 50px 80px;
}

.qualification-column {
  width: 50%;
  display: inline-block;
}
.qualification-container {
  margin: auto;
  min-width: 340px;
  display: table;
}
.qualification-columns {
  display: flex;
  padding: 0 0 0 80px;
}

.footer {
  width: 100%;
  height: 100px;
  max-width: 1290px;
  line-height: 100px;
  margin-top: 10px;
  margin: auto;
}
.copyright {
  float: left;
}
.footer-links {
  float: right;
}
.footer-link {
  display: inline-block;
  padding: 0 20px;
}

.service-section {
  margin: 96px 0 100px 0;
}
.service {
  margin: 0 0 20px 0;
}

.contact-column {
  width: calc(50% - 60px);
  display: inline-block;
  vertical-align: top;
  padding: 0 60px 0 0;
}

.contact-details p {
  display: inline;
  line-height: 30px;
}
.contact-details i {
  display: inline-block;
}

.map {
  width: calc(50% - 60px);
  display: inline-block;
  padding: 0 60px 0 0;
}
.maps {
  margin: 50px 0 50px 0;
}

#hamburger-lines {
  display: none;
}
.hamburger-header {
  display: inline-block;
  width: 100%;
  -moz-box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.35);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.35);
  box-shadow: 0px 2px 3px 0px rgba(166, 166, 166, 0.35);
}
#hamburger-menu {
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 1;
  left: 100vw;
  display: none;
  position: absolute;
}
.hamburger-option p {
  height: 80px;
  text-align: center;
  width: 100vw;
  line-height: 80px;
}
.body-no-scroll {
  height: 100vh;
  overflow: hidden;
}

.branding-highlight-ac,
.branding-highlight {
  color: #722323;
}

.branding-ac {
  display: none;
}

@media only screen and (min-width: 790px) and (max-width : 1190px) {
  .content {
    max-width: 900px;
  }

  .qualification-column {
    width: 100%;
  }
  .qualification-columns {
    display: block;
    padding: 0 0 0 60px;
  }

  .profile-description {
    padding: 0 0 10px 60px;
  }
  .profile-picture {
    width: 240px;
  }

  .service-section-title {
    text-align: center;
  }
}

@media only screen and (max-width : 789px) {
  .content {
    width: calc(100% - 60px);
    padding: 0 30px 80px 30px;
  }
  .row {
    display: block;
  }
  .qualification-column {
    width: 100%;
  }
  .qualification-columns {
    display: block;
    padding: 0;
  }

  .profile-description {
    padding: 0;
  }

  .footer {
    padding-top: 20px;
  }
  .copyright-text {
    line-height: 32px;
  }

  .specialty div {
    padding: 0px;
  }

  .photo-column {
    margin: 0 auto 40px auto;
    display: block;
  }

  .description-column {
    width: 100%;
  }

  .service-section-title {
    text-align: center;
  }

  .contact-column {
    display: block;
    width: 100%;
    padding: 0;
  }
  .contact-details {
    margin-bottom: 50px;
  }

  .specialty {
    width: 100%;
  }

  .map {
    width: 100%;
    display: block;
  }
  .maps {
    margin: 50px 0 50px 0;
  }

  .qualification-container {
    min-width: 0px;
  }

  .navbar-item {
    display: none;
  }
  #hamburger-lines {
    display: inline-block;
  }
}

@media only screen and (max-width: 395px) {
  .branding-ac {
    display: inline-block;
  }
  .branding {
    display: none;
  }

  .profile-picture {
    width: 100%;
  }
}
